version: '3.8'

services:
  app:
    container_name: backend
    restart: always
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    command: >
      bash -c "alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000"
    volumes:
      - ./media:/app/media
      - ./static:/app/static
    env_file: .env.example
    ports:
      - "8000:8000"
    links:
      - db
    depends_on:
      - db


  db:
    container_name: db
    restart: always
    image: postgres:13
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file: .env.example
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  static:
